@media  screen and (max-width:426px) {
    .name,.btn-contact,.nav-links{
        display: none;
    }
    body{
        margin: 0 auto;
    }
    .nav-bar{
        width: auto;
        justify-content: space-between;
        /* width: 100%; */
    }
    .all{
        display: inline-block;
        /* justify-content: right; */
    }




    /* banner */
    .banner-content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .banner-info {
        margin: 0;
        line-height: 1.2;
        text-align: center;
        gap: 30px;
    }

    .banner-content h1 {
        font-size: 32px;
        /* font-weight: var(--primary-font-weight); */
        margin-bottom: 20px;
    }

    .banner-content p {
        font-weight: 500;
        font-size: 12px;
    }

    .banner-content img {
        width: 300px;
        height: auto;
    }
    .btn-enroll {
        width: 131;
        height: 42px;
        padding: 10px 20px;
        font-size: 16;
        font-weight: 600;
        border-radius: 10px;
        margin-top: 20px;
        text-align: center;
        border: 0;
        cursor: pointer;
        margin-bottom: 30px;
    }

    /* standard */
    .sc-title{
        /* row-gap: 100px; */
    }
    .sc-content{
        flex-direction: column;
        width: auto;
        height: auto;
        gap: 10px;
        justify-content: center;
        margin: 0 10px;
    }
    /* .standard-curriculum{
        position: relative;
        margin-top: 30px;
        height: auto;
        width: auto;
    } */
    .arrow{
        display: none;
    }

    /* story */

    #box-1{
        display: none;
    }
    .story-content{
        /* width: auto; */
        
        /* margin-right: 0; */
    }
    .right{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

}